body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(111, 231, 176) 0%,
    rgb(154, 198, 242) 100.2%
  );
  background-repeat: repeat;
  min-height: max-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
a {
  color: #086054;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #086054;
}

.form-container {
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(41, 241, 255, 0.71);
  border-radius: 10px;
  padding: 15px 20px;
}

form {
  display: flex;
}
.hint {
  line-height: 1.5;
  font-size: 13px;
  margin-top: 5px;
  opacity: 0.6px;
}
.instructions {
  padding: 16px;
  border: 1px solid #086054aa;
  width: 80%;
  font-size: 16px;
  border-radius: 15px;
  line-height: 20px;
  color: #086054;
}
.submit-button {
  margin-left: 10px;
  background-color: #086054;
  color: white;
  width: 150px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}
.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #086054;
  box-shadow: 0px 20px 60px rgba(41, 241, 255, 0.718);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.poem strong {
  color: #066458;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
